<div class="row">
  <div class="col s7">
    <div class="card grey lighten-4">
      <div class="card-content">
        <span class="card-title">Login</span>
          <br />
          <%= form_with url: sessions_path, local: true do |form| %>
          <div class="form-group">
            <%= form.label :username, "Username" %>
            <div class="controls">
              <%= form.text_field :username, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= form.label :password, "Password" %>
            <div class="controls">
              <%= form.password_field :password, class: "form-control" %>
            </div>
          </div>
          
          <div class="form-actions"><%= form.submit "Log In", class: "btn btn-primary" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
