<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'Investigations', investigations_path %></li>
      <li><%= link_to 'Officers', officers_path %></li>
      <li><%= link_to 'Units', units_path %></li>
    </ul>
    <ul class="right">
      <% if logged_in? %>
        <li><%= link_to 'Logout', logout_path, class: 'btn btn-info'%></li>
      <% else %>
        <li><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>