<div class="card" id="officers">
  <% if @officers.empty? %>
    <p>There are no active officers currently in this unit</p>
  <% else %>
    <h3>Active Officers in <%= @unit.name %> Unit</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Rank</th>
          <th>Active Assignments</th>
        </tr>
      </thead>
      <tbody>
        <% @officers.each do |officer| %>
          <tr>
            <td><%= officer.name %></td>
            <td><%= officer.rank %></td>
            <td><%= officer.assignments.current.count %></td>
          </tr>
      </tbody>
      <% end %>
    </table>
    <%= will_paginate @officers, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
  <% end %>
</div>

<div class="card" id="stats">
  <div class="card-content">
    <h3>Statistics for the <%= @unit.name %> Unit</h3>
    <b>Number of Active Officers:&nbsp;&nbsp;<b>
    <%= @unit.number_of_active_officers %><br /><br />
    <b>Number of Open Cases:&nbsp;&nbsp;</b>
    <%= @unit.number_of_unique_open_investigations %><br /><br />
    <b>Number of Closed Cases:&nbsp;&nbsp;</b>
    <%=  @unit.number_of_unique_closed_investigations %><br /><br />
    <b>Cases Involving Batman:&nbsp;&nbsp;<b>
    <%=  @unit.number_of_unique_investigations_involving_batman %><br /><br />
  </div>
</div>
