<!DOCTYPE html>
<html>
  <head>
    <title>GCPD Management System</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans|Nunito|Varela+Round" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <header>
      <%=
      render(partial: "partials/topbar") +
      (logged_in? ? render(partial: "partials/nav") : "")
      %>

    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <%= render(partial: "partials/flash") %>

            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render(partial: "partials/footer") %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>   
  </body>
</html>